html{
	height: 100%;
}

body{
    padding: 0px;
	margin: 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
	/*min-height: 100%;*/
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  width:100%;
  /*background: #FFFF33;*/
  text-align:center;  
  top: 0;
  padding: 10 0px;
  margin: 0px;
 /* z-index: 1000;
  position:fixed;*/
 border-bottom: solid;
}

header p {
    /*text-align: center;*/
    flex: 3;
	font-size: 28px;
	margin: 10px 0px 0px 0px;
}

header hr {    
	margin: 15px 0px 0px 0px;
	padding: 0px;
}

header img {
  /*float: left;*/ 
  margin: 5px 5px;
}

header nav{
  padding: 10px;
  margin: 5px;
  /*float: right;*/ 
}

header nav p{
  float: left;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
}

main{
	/*margin-top: 70px;*/
 /*background-color: red;*/
}

.sobre{
	display:flex;	
	flex-wrap:wrap;
}

.sobre_foto{
	flex:1;
}
.sobre_presentation{
	flex:4;
}

.sobre_education{
	flex:3;
}

p{
 margin: 10px;
}

.h1_section{
	padding: 0 0 0 0.5em;
	margin: 0px;
}


.disciplinas{
    margin: 0px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.poo, .icc, .vis{
    text-align: center;
    /*background-color: #00CCEE;*/
    border: solid;
    padding: 20px;    
    margin: 10px;
}
