body{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3{
    margin:  2px;
}

@media (min-width: 300px){
secPrincipal{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}
}

#headerPrincipal{
    text-align: center;
}

.sectionHeader{
    text-align: center;
}


#secAtividades{
    border: solid;
    flex-basis: 40%;
}

#secTrabalhos{
    border: solid;
    flex-basis: 40%;
}
